<div class="text-center mt-4">
    <%# image_tag 'zani.png', id:'header-zani', class: 'img-fluid', alt: 'Zani' %>
    <%= image_tag 'lmao.png', id:'header-chatroom', class: 'img-fluid', alt: 'Zani' %> <br>
    Say Something
</div>