html,
body {
  height: 100% ;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

.nav-link{
  color: black ;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#logo{
  font-size: 16px;
  font-weight: 600 ;
  padding: 5px ;
}

#home-container{
  height: 550px;
  margin-top: 25px;
  padding-left: 0 ; padding-right: 0 ;
}


.jumbotron {
  height: 100% ;
  /* Just gives the name of image, Rails will automatically handle it */
  background-image: url('zani.png');
  /* background-image: url('lmao.png'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover ;
  padding: 4rem 2rem ;
}

.dropdown-menu{
  padding-top: 2px;
  padding-bottom: 2px;
}
.dropdown-divider{
  margin: 2px;
}

.message-container{
  position: absolute;
  top:63px ; left: 15px ;
  flex-direction: column; 
  /* gap: 8px ;  */
  z-index: 1000;
  width: 360px ;
}

.alert {
  padding: 6px 40px 6px 10px ;
  width: 100%; height: auto ;
  margin-bottom: 8px ;
  background-color: rgba(from var(--bs-alert-bg) r g b / 0.8);
}

.btn-close{
  position: absolute;
  top: 25px ; right: 20px;
}

.btn{
  font-size: 17px;
  padding: 5px 10px 5px 10px ;
}
