*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

html,
body {
  height: 100% ;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#page-navbar{
  height: 50px ; min-height: 50px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif ;
  padding-left: 8px;
  font-size: 16px ;
  color: black ; font-weight: 500 ;
  padding-top: 0;
  padding-bottom: 0 ;
}

.container-fluid{
  height: 100% ;
}

#navbarSupportedContent{
  height: 100% ;
}

.navbar-nav{
  height: 100% ;
}

.nav-item{
  padding-left: 5px ; 
  padding-right: 5px ;
  height: 100% ;
  display: flex ;
  align-items: center;
}

.nav-item:hover{
  background-color: orange;
}

#logo{
  font-size: 16px;
  font-weight: 600 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-container{
  height: 550px;
  margin-top: 25px;
  padding-left: 0 ; padding-right: 0 ;
}


.jumbotron {
  height: 100% ;
  /* Just gives the name of image, Rails will automatically handle it */
  background-image: url('zani.png');
  /* background-image: url('lmao.png'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover ;
  padding: 4rem 2rem ;
}

.dropdown-menu{
  padding-top: 2px;
  padding-bottom: 2px;
}
.dropdown-divider{
  margin: 2px;
}

.message-container{
  position: absolute;
  top:63px ; left: 15px ;
  flex-direction: column; 
  /* gap: 8px ;  */
  z-index: 1000;
  width: 360px ;
}

.alert {
  padding: 6px 40px 6px 10px ;
  width: 100%; height: auto ;
  margin-bottom: 8px ;
  background-color: rgba(from var(--bs-alert-bg) r g b / 0.8);
}

.btn-close{
  position: absolute;
  top: 25px ; right: 20px;
}

.btn{
  font-size: 17px;
  padding: 5px 10px 5px 10px ;
}

#sticky-footer{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
